# Configuración de la aplicación
SERVER_PORT=8080

# Configuración de la base de datos (desarrollo local)
SPRING_DATASOURCE_URL=jdbc:h2:mem:franquiciasdb
SPRING_DATASOURCE_USERNAME=sa
SPRING_DATASOURCE_PASSWORD=

# Configuración de la base de datos (producción)
# SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/franquicias
# SPRING_DATASOURCE_USERNAME=admin
# SPRING_DATASOURCE_PASSWORD=una_contraseña_muy_segura

# Configuración de JPA
SPRING_JPA_HIBERNATE_DDL_AUTO=update
SPRING_JPA_SHOW_SQL=true

# Configuración de H2 Console
SPRING_H2_CONSOLE_ENABLED=true
SPRING_H2_CONSOLE_PATH=/h2-console

# Configuración de logging
LOGGING_LEVEL_COM_EJERCICIO_APIFRANQUICIAS=DEBUG
LOGGING_LEVEL_ORG_SPRINGFRAMEWORK_WEB=DEBUG

# Configuración de AWS (para Terraform)
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=your_access_key_here
AWS_SECRET_ACCESS_KEY=your_secret_key_here

# Configuración de Docker
DOCKER_IMAGE_NAME=darwinjhm/franquicias
DOCKER_TAG=latest

